@model ExternalLoginViewModel
@{
    ViewData["Title"] = "Register";
}

<p class="text-info txt-center m-tb-10">
    You've successfully authenticated with <strong>@ViewData["LoginProvider"]</strong>.
    Please enter your personal information below and click the Sign up button to finish
    logging in.
</p>

<div class="register-photo">
    <div class="form-container">
        <div class="image-holder"></div>
        <form asp-action="ExternalLoginConfirmation" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FullName">Full name</label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DoB">Date of birth</label>
                <input asp-for="DoB" type="date" class="form-control" />
                <span asp-validation-for="DoB" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PhoneNumber"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Address"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>

            <div class="form-group">
                <recaptcha />
                <span class="text-danger" id="recaptchaErrorMessage"></span>
            </div>
            <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Sign up</button></div>
        </form>
    </div>
</div>
</div>
@section Styles{
    <link href="~/client-side/css/Registration-Form-with-Photo.css" rel="stylesheet" />
}
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")

    <recaptcha-script validation-message-element-id="recaptchaErrorMessage" />
}