
@{
    ViewData["Title"] = "Index";
}

@section Scripts{
    <script src="~/app-client/controllers/cart/index.js" asp-append-version="true"></script>
    <script>
        var cartObj = new CartController();
        cartObj.initialize();
    </script>
}
<!-- breadcrumb -->
<div class="container">
    <div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
        <a href="index.html" class="stext-109 cl8 hov-cl1 trans-04">
            Home
            <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
        </a>

        <span class="stext-109 cl4">
            Shoping Cart
        </span>
    </div>
</div>


<!-- Shoping Cart -->
<form class="bg0 p-t-75 p-b-85">
    <div id="cuocDoiNayKhoQuaMa" class="container">
        <div class="row" >
            <div class="col-lg-10 col-xl-10 m-lr-auto m-b-50" >
                <div class="m-l-25 m-r--38 m-lr-0-xl">
                    <div class="wrap-table-shopping-cart">
                        <table class="table-shopping-cart">
                            <thead>
                                <tr class="table_head">
                                    <th class="column-1">Product</th>
                                    <th class="column-2"></th>
                                    <th class="column-3">Price</th>
                                    <th class="column-4">
                                        <p class="txt-center">
                                            Quantity
                                        </p>
                                    </th>
                                    <th class="column-5">Total</th>
                                    <td class="column-2"></td>
                                </tr>
                            </thead>
                        
                            <tbody id="table-cart-content">

                            </tbody>                       
                        </table>
                        <script id="template-cart" type="x-tmpl-mustache">
                            <tr class="table_row" data-id="{{ProductId}}">
                                <td class="column-1">
                                    <div class="itemcart1">
                                        <img src="{{Image}}" style="width:60px;height80px" alt="{{ProductName}}" />
                                    </div>
                                </td>
                                <td class="column-2">{{ProductName}}</td>
                                <td class="column-3">$ {{Price}}</td>
                                <td class="column-4">
                                    <input data-id="{{ProductId}}" class="mtext-104 cl3 txt-center txtQuantity" value=" {{Quantity}} ">
                                </td>
                                <td class="column-5">$ {{Amount}}</td>
                                <td class="column-2">
                                    <a href="#" data-id="{{ProductId}}" class="btn-delete">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </td>
                            </tr>
                        </script>
                    </div>

                    <div class="flex-w flex-sb-m bor15 p-t-18 p-b-15 p-lr-40 p-lr-15-sm">
                        <div class="flex-w flex-m m-r-20 m-tb-5">
                            <div class="flex-c-m stext-101 cl2 size-118 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-5">
                                <a id="btnClearAll">
                                    Clear cart
                                </a>
                            </div>
                        </div>

                        <div class="flex-c-m stext-101 cl2 size-119 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-10">
                            <a id="btnContinueShopping" href="/products.html">
                                Continue shopping
                            </a>
                        </div>

                        <div class="flex-w flex-t p-t-27 p-b-33">
                            <a id="btnCheckout" href="/checkout.html" class="flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer">
                                Proceed to Checkout
                            </a>
                        </div>
                    </div>
                </div>
            </div>   
        </div>
    </div>
</form>

