@using OnlineShopCore.Application.ViewModels.Product
@{
    var sortOrder = ViewData["sortOrder"] as List<CategoryViewModel>;
}
@model List<Category>
@section Styles{
    <link href="~/lib/jQuery-EasyUI/themes/bootstrap/easyui.css" rel="stylesheet" />
    <link href="~/lib/jQuery-EasyUI/themes/bootstrap/tree.css" rel="stylesheet" />
    <link href="~/admin-side/assets/extra-libs/DataTables/DataTables-1.10.16/css/dataTables.bootstrap4.css" rel="stylesheet" />
}

@section Scripts{
    <script src="~/app/controllers/product-category/index.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
    <script src="~/admin-side/assets/extra-libs/DataTables/datatables.min.js"></script>
    <script src="~/lib/datetime-moment/dist/datetime-moment.js"></script>
    <script>
        var date = new Date().toJSON();
        document.getElementById("hidDateCreated").value = date;
    </script>
    <script>
        document.getElementById("txtOrderM").value = @sortOrder.Count;
        var productCategory = new productCategoryController();
        productCategory.initialize();
    </script>
}

<div class="page-breadcrumb">
    <div class="row">
        <div class="col-12 d-flex no-block align-items-center">
            <div class="ml-auto text-left">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Trang chính</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Danh mục</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="=container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card-body">
                <button class="btn btn-success" id="btnCreate" type="button" data-toggle="tooltip" data-placement="bottom" title="Tạo mới" style="margin-bottom:15px">Tạo mới</button>
                <div class="table-responsive">
                    <table id="zero_config" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Action</th>
                                <th>Tên danh mục</th>
                                <th>Ngày tạo</th>
                                <th>Status</th>
                            </tr>
                        </thead>

                        <tbody></tbody>

                        <tfoot>
                            <tr>
                                <th>Action</th>
                                <th>Tên danh mục</th>
                                <th>Ngày tạo</th>
                                <th>Status</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<partial name="_AddEditModal.cshtml" />