<div id="modal-add-edit" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="card">
                <form class="form-horizontal" role="form" id="frmMaintainance">
                    <div class="card-body">
                        <div class="form-group row">
                            <div class="col-9">
                                <input type="hidden" id="hidIdM" value="" />
                                <input type="hidden" id="hidViewCount" value="0" />
                                <input type="hidden" id="hidDateCreated" value="date" />
                                <label class="control-label col-form-label">Tên sản phẩm</label>
                                <div>
                                    <input type="text" name="txtNameM" class="form-control" id="txtNameM">
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-md-3">
                                        <label class="control-label col-form-label">Chiều dài</label>
                                        <div>
                                            <input type="text" name="txtHeightM" class="form-control" id="txtHeightM">
                                        </div>
                                    </div>

                                    <div class="form-group col-md-3">
                                        <label class="control-label col-form-label">Chiều ngang</label>
                                        <div>
                                            <input type="text" name="txtWidthM" class="form-control" id="txtWidthM">
                                        </div>
                                    </div>

                                    <div class="form-group col-md-3">
                                        <label class="control-label col-form-label">Số trang</label>
                                        <div>
                                            <input type="text" name="txtTotalPageM" class="form-control" id="txtTotalPageM">
                                        </div>
                                    </div>
                                </div>

                                <label class="control-label col-form-label">Giá bán</label>
                                <div>
                                    <input type="text" name="txtPriceM" class="form-control" id="txtPriceM">
                                </div>

                                <label for="txtImageM" class="control-label col-form-label">Thumbnail</label>
                                <div class="row">
                                    <div class="col">
                                        <input type="text" name="txtImage" class="form-control" id="txtImage" />
                                        <input type="file" id="fileInputImage" style="display:none" />
                                    </div>
                                    <div class="col">
                                        <span class="input-group-btn">
                                            <input type="button" id="btnSelectImg" class="btn btn-default" value="Browser" />
                                        </span>
                                    </div>
                                </div>

                                <label for="txtContentM" class="control-label col-form-label">Mô tả</label>
                                <div>
                                    <input type="text" class="form-control" id="txtContent" placeholder="Content">
                                </div>

                                <div style="padding-top:7px">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" checked="checked" id="ckStatusM">
                                            <span class="text">Active</span>
                                        </label>
                                        <label>
                                            <input type="checkbox" id="ckHotM">
                                            <span class="text">Đánh dấu bán chạy</span>
                                        </label>

                                        <label>
                                            <input type="checkbox" checked="checked" id="ckShowHomeM">
                                            <span class="text">Đánh dấu lựa chọn hàng đầu</span>
                                        </label>
                                    </div>
                                </div>
                            </div>


                            <div class="col-3">
                                <label for="lname" class="control-label col-form-label">Danh mục</label>
                                <div>
                                    <input id="ddlCategoryIdM" required name="ddlCategoryIdM" value="1">
                                </div>

                                <label for="lname" class="control-label col-form-label">Tác giả</label>
                                <div>
                                    <input id="ddlAuthorIdM" required name="ddlAuthorIdM" value="1">
                                </div>

                                <label for="lname" class="control-label col-form-label">Nhà xuất bản</label>
                                <div>
                                    <input id="ddlPublisherIdM" required name="ddlPublisherIdM" value="1">
                                </div>

                                <div style="padding-top:7px">
                                    <button type="button" id="btnSave" class="btn btn-primary">Lưu</button>
                                    <button type="button" id="btnCancel" data-dismiss="modal" class="btn btn-danger">Hủy</button>
                                </div>                   
                            </div>
                        </div>                  
                    </div>        
                </form>
            </div>
        </div>
    </div>
</div>