
@{
    ViewData["Title"] = "Index";
}
@section Styles{
    <link href="~/admin-side/assets/extra-libs/DataTables/DataTables-1.10.16/css/dataTables.bootstrap4.css" rel="stylesheet" />
}
@section Scripts{
    <script src="~/app/controllers/product/index.js"></script>
    <script src="~/admin-side/assets/extra-libs/DataTables/datatables.min.js"></script>
    <script>
        //var product = new productController();
        //product.initialize();

        $('#zero_config').DataTable({
            // set the indexs from the array column
            initComplete: function () {
                this.api().columns([2]).every(function () {
                    var column = this;
                    var select = $('<select><option value="">--Category filter--</option></select>')
                        .appendTo($(column.header()).empty())
                        .on('change', function () {
                            var val = $.fn.dataTable.util.escapeRegex(
                                $(this).val()
                            );

                            column
                                .search(val ? '^' + val + '$' : '', true, false)
                                .draw();
                        });

                    column.data().unique().sort().each(function (d, j) {
                        select.append('<option value="' + d + '">' + d + '</option>')
                    });
                });
            },
            processing: true, // for show progress bar
            serverSide: false, // for process server side
            filter: true, // this is for disable filter (search box)
            orderMulti: false, // for disable multiple column at once
            order: [[4, "desc"]],
            ajax: {
                type: 'GET',
                url: '/admin/product/GetAll',
                dataSrc: '',
                dataType: 'json'
            },
            columnDefs: [{
                targets: [0, 1, 2, 3, 4, 5, 6],
                autoWidth: true
            }],
            columnDefs: [{
                targets: [0, 2, 4, 6],
                sortable: false
            }],
            columns: [
                {
                    data: null, render: function (data, type, row) {
                        return '<button class="btn btn-danger"><i class="fas fa-trash"></i></button> <button class="btn btn-success"><i class="fas fa-pencil-alt" style="width:12.25px"></i></button>';
                    }
                },
                    { data: "Name" },
                { data: "ProductCategory.Name" },
                { data: "Price" },
                {
                    data: "Image", render: function (data, type, row) {
                        return data === null ? '<img src="~/admin-side/assets/images/No-image-found.jpg" width=25' : '<img src="'+data+'" width=25 />'
                    }
                },
                { data: "DateCreated" },
                {
                    data: "Status", render: function (data, type, row) {
                        return data == '1' ? '<span class="badge badge-pill badge-success" > Kích hoạt</span >' : '<span class="badge badge-pill badge-danger">Khóa</span>'
                    }
                }
            ]
        });
    </script>
}

<div class="page-breadcrumb">
    <div class="row">
        <div class="col-12 d-flex no-block align-items-center">
            <h4 class="page-title">Tables</h4>
            <div class="ml-auto text-right">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Library</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="=container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card-body">
                <h5 class="card-title">Basic Datatable</h5>
                <div class="table-responsive">
                    <table id="zero_config" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Action</th>
                                <th>Name</th>
                                <th>Category</th>
                                <th>Price</th>
                                <th>Image</th>
                                <th>Created Date</th>
                                <th>Status</th>
                            </tr>
                        </thead>

                        <tbody></tbody>

                        <tfoot>
                            <tr>
                                <th>Action</th>
                                <th>Name</th>
                                <th>Category</th>
                                <th>Price</th>
                                <th>Image</th>
                                <th>Created Date</th>
                                <th>Status</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



