@{
    ViewData["Title"] = "Index";
}
@section Styles{
    <link href="~/admin-side/assets/extra-libs/DataTables/DataTables-1.10.16/css/dataTables.bootstrap4.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
}
@section Scripts{
    <script src="~/app/controllers/promotion/index.js" asp-append-version="true"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script src="~/admin-side/assets/extra-libs/DataTables/datatables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

    <script>
        var promotion = new promotionController();
        promotion.initialize();

        flatpickr("#date-expired", {
            minDate: "today",
            dateFormat: "d/m/Y H:i",
            enableTime: true,
            time_24hr: true
        });
    </script>
}

<div class="page-breadcrumb">
    <div class="row">
        <div class="col-12 d-flex no-block align-items-center">
            <div class="ml-auto text-left">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Chương trình khuyến mãi</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="=container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card-body">
                <button class="btn btn-success" id="btn-create" type="button" data-toggle="tooltip" data-placement="bottom" title="Create new slide" style="margin-bottom:15px">Tạo mới</button>
                <div class="table-responsive">
                    <table id="zero_config" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Action</th>
                                <th>Tên chương trình khuyến mãi</th>
                                <th>Ngày tạo</th>
                                <th>Ngày kết thúc</th>
                            </tr>
                        </thead>

                        <tbody></tbody>

                        <tfoot>
                            <tr>
                                <th>Action</th>
                                <th>Tên chương trình khuyến mãi</th>
                                <th>Ngày tạo</th>
                                <th>Ngày kết thúc</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<partial name="_AddEditModal.cshtml" />