
@{
    ViewData["Title"] = "Index";
}
@section Styles{ 
<link href="~/lib/jQuery-EasyUI/themes/bootstrap/easyui.css" rel="stylesheet" />
<link href="~/lib/jQuery-EasyUI/themes/bootstrap/tree.css" rel="stylesheet" />
}

@section Scripts{ 
<script src="~/lib/jQuery-EasyUI/jquery.easyui.min.js"></script>
<script src="~/app/controllers/product-category/index.js"></script>
    <script>
        var productCategory = new productCategoryController();
        productCategory.initialize();
    </script>
}

<div class="page-breadcrumb">
    <div class="row">
        <div class="col-12 d-flex no-block align-items-center">
            <h4 class="page-title">Tables</h4>
            <div class="ml-auto text-right">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Product</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Product categories</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="=container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card-body">
                <h5 class="card-title">Product categories</h5>
                <div>
                    <ul id="treeProdCategory"></ul>
                </div>
            </div>
        </div>
    </div>
</div>

