@using OnlineShopCore.Application.ViewModels.Product
@{
    var sortOrder = ViewData["sortOrder"] as List<ProductCategoryViewModel>;
}
@model List<ProductCategory>
@section Styles{
    <link href="~/lib/jQuery-EasyUI/themes/bootstrap/easyui.css" rel="stylesheet" />
    <link href="~/lib/jQuery-EasyUI/themes/bootstrap/tree.css" rel="stylesheet" />
}

@section Scripts{

    <script src="~/lib/jQuery-EasyUI/jquery.easyui.min.js"></script>
    <script src="~/app/controllers/product-category/index.js"></script>
    <script>
        document.getElementById("txtOrderM").value = @sortOrder.Count;
        var productCategory = new productCategoryController();
        productCategory.initialize();
    </script>
}

<div class="page-breadcrumb">
    <div class="row">
        <div class="col-12 d-flex no-block align-items-center">      
            <div class="ml-auto text-right">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                        <li class="breadcrumb-item active" aria-current="page">danh mục</li>
                    </ol>                          
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="=container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card-body">
                <button class="btn btn-success" id="btnCreate" type="button" style="margin-bottom:15px">Tạo mới</button>
                <h5 class="card-title">Danh sách danh mục</h5>
                <div class="col-md-6">
                    <ul id="treeProductCategory"></ul>
                    <div id="contextMenu" class="easyui-menu" style="width:120px;">
                        <div id="btnEdit" data-options="iconCls:'icon-edit'">Sửa</div>
                        <div id="btnDelete" data-options="iconCls:'icon-remove'">Xoá</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<partial name="_AddEditModal.cshtml"/>