<div id="modal-add-edit" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="card">
                <form class="form-horizontal" role="form" id="frmMaintainance">
                    <div class="card-body">
                        <div class="form-group row">
                            <input type="hidden" id="hidIdM" value="" />
                        </div> 

                        <div class="form-group row">
                            <label for="txtImageM" class="col-6 control-label col-form-label">Hình ảnh</label>
                            <div class="col-sm-9">
                                <input type="text" name="txtImage" class="form-control" id="txtImage" />
                                <input type="file" id="fileInputImage" style="display:none" />
                                <span class="input-group-btn">
                                    <input type="button" id="btnSelectImg" class="btn btn-default" value="Browser" />
                                </span>
                            </div>
                        </div>  

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" checked="checked" id="ckStatusM">
                                        <span class="text">Active</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="border-top">
                        <div class="card-body">
                            <button type="button" id="btnSave" class="btn btn-primary">Lưu</button>
                            <button type="button" id="btnCancel" data-dismiss="modal" class="btn btn-danger">Đóng</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>