<div id="modal-add-edit" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="card">
                <form class="form-horizontal" role="form" id="frmMaintainance">
                    <div class="card-body">
                        <div class="form-group row">
                            <input type="hidden" id="hidIdM" value="" />
                            <label class="col-sm-3 text-right control-label col-form-label">Name</label>
                            <div class="col-sm-9">

                                <input type="text" name="txtNameM" class="form-control" id="txtNameM" placeholder="Name">
                            </div>
                        </div>
                 
                        <div class="form-group row">
                            <label for="txtDescM" class="col-sm-3 text-right control-label col-form-label">Description</label>
                            <div class="col-sm-9">

                                <input type="text" name="txtDescM" class="form-control" id="txtDescM" placeholder="Description">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="txtImageM" class="col-sm-3 text-right control-label col-form-label">Image</label>
                            <div class="col-sm-9">
                                <input type="text" name="txtImage" class="form-control" id="txtImage" />
                                <input type="file" id="fileInputImage" style="display:none" />
                                <span class="input-group-btn">
                                    <input type="button" id="btnSelectImg" class="btn btn-default" value="Browser" />
                                </span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="txtContentM" class="col-sm-3 text-right control-label col-form-label">Content</label>
                            <div class="col-sm-9">

                                <input type="text" class="form-control" id="txtContent" placeholder="Content">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" checked="checked" id="ckStatusM">
                                        <span class="text">Active</span>
                                    </label>                                
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="border-top">
                        <div class="card-body">
                            <button type="button" id="btnSave" class="btn btn-primary">Save changes</button>
                            <button type="button" id="btnCancel" data-dismiss="modal" class="btn btn-danger">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
