<div id="modal-add-edit" class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="card">
                <form class="form-horizontal" role="form" id="frmMaintainance">
                    <div class="card-body">

                        <div class="form-group row">
                            <input type="hidden" id="hidIdM" value="0" />
                            <input type="hidden" id="hidDateCreated" value="date" />
                            <label for="txtNameM" class="col-3 text-right control-label col-form-label">Tên tác giả</label>
                            <div class="col-9">

                                <input type="text" name="txtNameM" class="form-control" id="txtNameM">
                            </div>
                        </div>

                        <div style="display:none" class="form-group row">
                            <label for="txtOrderM" class="col-3 text-right control-label col-form-label">Sort Order</label>
                            <div class="col-9">
                                <input type="text" name="txtOrderM" class="form-control" id="txtOrderM" placeholder="">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" checked="checked" id="ckStatusM">
                                        <span class="text">Active</span>
                                    </label>
                                </div>
                            </div>
                            <div class="border-top">
                                <div class="card-body">
                                    <button type="button" id="btnSave" class="btn btn-primary">Lưu</button>
                                    <button type="button" id="btnCancel" data-dismiss="modal" class="btn btn-danger">Đóng</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>