<div id="modal-add-edit" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="card">
                <form class="form-horizontal" role="form" id="frmMaintainance">
                    <div class="card-body">
                        <div class="form-group row">
                            <input type="hidden" id="hidId" value="" />
                            <label for="txtFullName" class="col-6 control-label col-form-label">Họ tên</label>
                            <div class="col-sm-9">
                                <input type="text" name="txtFullName" class="form-control" id="txtFullName" placeholder="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="txtUserName" class="col-6 control-label col-form-label">Tên tài khoản</label>
                            <div class="col-sm-9">

                                <input id="txtUserName" type="text" class="form-control" name="txtUserName" value="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="txtPassword" class="col-6 control-label col-form-label">Mật khẩu</label>
                            <div class="col-sm-9">

                                <input type="password" name="txtPassword" class="form-control" id="txtPassword" placeholder="">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="txtConfirmPassword" class="col-6 control-label col-form-label">Nhập lại mật khẩu</label>
                            <div class="col-sm-9">

                                <input type="password" name="txtConfirmPassword" class="form-control" id="txtConfirmPassword" placeholder="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="txtEmail" class="col-6 control-label col-form-label">Email</label>
                            <div class="col-sm-9">

                                <input type="email" name="txtEmail" class="form-control" id="txtEmail" placeholder="">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="txtPhoneNumber" class="col-6 control-label col-form-label">Số điện thoại</label>
                            <div class="col-sm-9">
                                <input type="text" name="txtPhoneNumber" class="form-control" id="txtPhoneNumber" placeholder="">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-6 control-label col-form-label">Quyền</label>
                            <div class="col-sm-9" id="list-roles">

                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" checked="checked" id="ckStatusM">
                                        <span class="text">Active</span>
                                    </label>

                                </div>
                            </div>

                            <div class="border-top">
                                <div class="card-body">
                                    <button type="button" id="btnSave" class="btn btn-success">Lưu</button>
                                    <button type="button" id="btnCancel" data-dismiss="modal" class="btn btn-default">Đóng</button>

                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>