@using Microsoft.AspNetCore.Identity
@using OnlineShopCore.Models
@using OnlineShopCore.Extensions

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

<a class="nav-link dropdown-toggle text-muted waves-effect waves-dark pro-pic" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img id="imgs" src="@User.GetSpecificClaim("Avatar")" alt="user" class="rounded-circle" width="31"></a>
<div class="dropdown-menu dropdown-menu-right user-dd animated">
    <a class="dropdown-item" href="javascript:void(0)" id="userName"><i class="ti-user m-r-5 m-l-5"></i> @User.Identity.Name</a>
    <a class="dropdown-item" href="javascript:void(0)"><i class="ti-wallet m-r-5 m-l-5"></i> My Balance</a>
    <a class="dropdown-item" href="javascript:void(0)"><i class="ti-email m-r-5 m-l-5"></i> Inbox</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="javascript:void(0)"><i class="ti-settings m-r-5 m-l-5"></i> Account Setting</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="javascript:void(0)" onclick="document.getElementById('logoutForm').submit()"><i class="fa fa-power-off m-r-5 m-l-5"></i> Log out</a>
    <form action="/Admin/Account/Logout" method="post" id="logoutForm"></form>
    <div class="dropdown-divider"></div>
    <div class="p-l-30 p-10"><a href="javascript:void(0)" class="btn btn-sm btn-success btn-rounded">View Profile</a></div>
</div>

<noscript>
    <input type="submit" value="Submit form!" />
</noscript>